{
  "token": "NDQzNzI1NjY4NDYzOTM1NDg5.DddcrA.4uTsGpk6zm3SqpY0cmIGdYt4RZ0",
  "owners": [86477779717066752],
  "join_message": "Are you ready for adventure!?",
  "prefix": [
    "!"
  ],
  "playing": "with mortals"
}
